body{
    background: #0E7E12;
}

.card{
    margin: auto;
    background: white;
    height: 450px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topSymbol{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 80px;
}

.bottomSymbol{
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 80px;
}

.redSymbol {
    color: red;
}
